#main-artigo {
  max-width: 70.5rem;
  width: 100%;
  margin: auto;
}
#main-artigo .container {
  display: flex;
  padding: 0;
  justify-content: space-between;
  gap: 2rem;
}

/*Imagem e temporizador*/
#titulo-artigo {
  color: #6D28D9;
  margin-top: 2.938rem;
  margin-bottom: 2rem;
}

.img-capa-artigo img{
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-capa-artigo p {
  font-weight: lighter;
  color: #828282;
  margin: 0.688rem 0 1.75rem;
}
/*Imagem e temporizador*/
/*Conteúdo do Artigo*/
#conteudo-artigo {
  /* max-width: 47.688rem; */
  /* padding: 1rem; */
  width: 100%;
}

#conteudo-artigo p {
  text-align: justify;
}

#conteudo-artigo h2:not(:first-child) {
  margin-top: 1rem;
}

#conteudo-artigo h2 {
  color: #6D28D9;
  margin-bottom: 1rem;
}
/*Conteúdo do Artigo*/
/*Sessões e Redes Sociais*/
#main-artigo .container-sessoes-sm{
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1.75rem;
}

#sessoes {
  max-width: 17.688rem;
  width: 100%;
  border: 1px solid #6D28D9;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sessoes .content {
  padding: 2.313rem 5.813rem 5rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.24rem;
}

#sessoes .content h3{
  font-size: 1.375rem;
  color: #454545;
  font-weight: 545;
}

#sessoes .content a {
  color: #454545;
}

.container-sessoes-sm #social-media p{
  color: #828282;
  font-size: 0.875rem;
}

.container-sessoes-sm #social-media {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container-sessoes-sm #social-media #icons-social-media {
  display: flex;
}

.container-sessoes-sm #social-media #icons-social-media a{
  color: rgba(109, 40, 217, 0.5);
  padding-left: 1.063rem;
}

.container-sessoes-sm #social-media #icons-social-media a:hover {
  background-color: #fff;
}
/*Sessões e Redes Sociais*/

/*Sobre o Autor*/
#sobre-autor {
  max-width: 47.688rem;
  width: 100%;
  border: 1px solid #6D28D9;
  margin: 4.125rem 0.5rem 5rem 0.5rem;
  /* padding: 0 0.5rem; */
  border-radius: 4px;
}

#sobre-autor .content {
  margin: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#autor {
  display: flex;
  gap: 0.875rem;
}

#autor img{
  max-width: 2.875rem;
  width: 100%;
}

#nome-formacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nome-formacao span {
  color: #6D28D9;
  font-weight: 600;
}

#nome-formacao p {
  color: #454545;
  font-size: 0.8rem;
}

#content #descicao p {
  color: #454545;
}

#coment-like {
  display: flex;
  gap: 2rem;
  justify-content: end;
  margin: 1.188rem 3.389rem 0 0;

}
#coment-like a {
  color: #6D28D9;
  display: flex;
}

#coment-like ion-icon {
  padding-right: 8px;
}
/*Sobre o Autor*/
/*Artigo ------------------------------------------------------------------------------------------------*/
/* 
@media (max-width: 415px) {}
@media (max-width: 768px) {
  .container-sessoes-sm #social-media {
    align-items: flex-start;
  }
  .container-sessoes-sm #social-media p {
    padding: 0 0 0 1rem;
  }
  #sobre-autor {
    margin: 2.125rem 0 3rem;
  }
}
@media (max-width: 1024px) {
  #main-artigo .container {
    flex-direction: column;
  }
  #sessoes {
    display: none;
  }
}
@media (max-width: 1440px) {} */

@media (max-width: 415px) {
}

@media (max-width: 445px) {

}

@media (max-width: 768px) {
  #conteudos .container {
    width: 100%;
    justify-content: flex-start;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  footer .container .content,
  footer .container {
    gap: var(--gap-small);
  }

  footer .container .box {
    flex-wrap: wrap;
    justify-content: center;
  }

  header nav ul {
    flex-wrap: wrap;
  }
  .container-sessoes-sm #social-media {
    align-items: flex-start;
  }
  .container-sessoes-sm #social-media p {
    padding: 0 0 0 1rem;
  }
  #sobre-autor {
    margin: 2.125rem 0 3rem;
  }
}

@media (max-width: 1024px) {
  #conteudos .container {
    width: 100%;
  }
  #main-artigo .container {
    flex-direction: column;
  }
  #sessoes {
    display: none;
  }
  .container-sessoes-sm {
    margin: 2rem 0 0 0;
  }
  .container-sessoes-sm #social-media {
    align-items: flex-start;
  }
  #main-artigo {
    padding: 1rem;
  }
}

@media (max-width: 1440px) {
  hr {
    width: auto;
  }

  footer .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {
  /* #apresentacao {
    padding: var(--padding-large) var(--padding-large);
  } */
}